
    body {
      overflow  : hidden;
      padding   : 0;
      margin    : 0;
      background-color: #00979C;
      color: #FFF;
      font-family: 'Ubuntu Mono', Menlo, Courier, 'courier new';
    }
    #info {
      position  : absolute;
      bottom   : 0px;
      width   : 100%;
      padding   : 5px;
      text-align  : center;
    }
    #container {
      width   : 100%;
      height    : 100%;
      overflow  : hidden;
      padding   : 0;
      margin    : 0;
      -webkit-user-select : none;
      -moz-user-select  : none;
    }